{% extends "users/layout.html" %}
{% block content %}
    <form method="POST" action="" enctype="multipart/form-data">
    <div class="form-group">
        {% for i in event_detail %}
            <div class="row">
            <div class="card-body table-bordered">

            <div>
                <p class="card-text" value={{ i.id }}>Title: {{ i.title }} </p>
                <p class="card-text" value={{ i.id }}>User Name: {{ i.Event_get_user.username }} </p>
                <p class="card-text" value={{ i.id }}>No. of Guests: {{ i.no_of_guests }} </p>
                <p class="card-text" value={{ i.id }}>Date: {{ i.date }} </p>
                <p class="card-text" value={{ i.id }}>Decorator Charge: {{ i.decorator_charge }} </p>
                <p class="card-text" value={{ i.id }}>Caterer Charge: {{ i.caterer_charge }} </p>
                <p class="card-text" value={{ i.id }}>Venue Charge: {{ i.venue_charge }} </p>
                <p class="card-text" value={{ i.id }}>Total Charge: {{ i.Total_charge }} </p>
            </div>
                {% if i.date > i.date.today() %}
            <div class="btn-group" style="margin-top: 10px">
                            <a role="button"
                               href="{{ url_for('venue.venue_reject_booking_request', event_id=i.id) }}"
                               class="btn btn-sm btn-outline-danger warning">Reject</a>
                        </div>
                {% else %}
                    <div class="btn-group" style="margin-top: 10px">
                            <button role="button"class="btn btn-sm btn-outline-danger warning" disabled>Reject</button>
                        </div>
                {% endif %}


            </div>
            </div>

        {% endfor %}
    </div>
    </form>
{% endblock content %}