<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    {% if title %}
        <title>Event Management - {{ title }}</title>
    {% else %}
        <title>Event Management</title>
    {% endif %}
</head>
<body>
<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
            <a class="navbar-brand mr-4" href="/">Event Management</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                    aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="{{ url_for('main.home') }}">Home</a>
                    <a class="nav-item nav-link" href="{{ url_for('main.about') }}">About</a>
                </div>
                <!-- Navbar Right Side -->
                <div class="navbar-nav">
                    {% if current_user.is_authenticated %}
                        <div class="navbar-nav mr-auto">
                        {% if current_user.user_type == 1 %}
                            <a class="nav-item nav-link" href="{{ url_for('book_event.event') }}">Book Event</a>
                            <a class="nav-item nav-link" href="{{ url_for('main.get_bill') }}">Get Bill</a>
                        {% endif %}

                        {% if current_user.user_type == 2 %}
                            <a class="nav-item nav-link" href="{{ url_for('venue.check_event') }}">Check Event</a>
                            <a class="nav-item nav-link" href="{{ url_for('venue.venue_info') }}">Venue Info</a>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="{{ url_for('venue.venue_decorator') }}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Decorator
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                  <a class="dropdown-item" href="{{ url_for('venue.venue_decorator') }}">Requests</a>
                                  <a class="dropdown-item" href="{{ url_for('venue.venue_accepted_decorators') }}">Accepted Decorator requests</a>
                                  <a class="dropdown-item" href="{{ url_for('venue.venue_rejected_decorators') }}">Rejected Decorator requests</a>
                              </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="{{ url_for('venue.venue_catrers') }}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Caterer
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                  <a class="dropdown-item" href="{{ url_for('venue.venue_catrers') }}">Requests</a>
                                  <a class="dropdown-item" href="{{ url_for('venue.venue_accepted_catrers') }}">Accepted Decorator requests</a>
                                  <a class="dropdown-item" href="{{ url_for('venue.venue_rejected_catrers') }}">Rejected Decorator requests</a>
                              </li>
                        {% endif %}

                        {% if current_user.user_type == 3 %}
                            <a class="nav-item nav-link" href="{{ url_for('decorator.check_event') }}">Check Event</a>
                            <a class="nav-item nav-link" href="{{ url_for('decorator.venues') }}">Venue</a>
                            <a class="nav-item nav-link" href="{{ url_for('decorator.category') }}">Add Category</a>
                        {% endif %}

                        {% if current_user.user_type == 4 %}
                            <a class="nav-item nav-link" href="{{ url_for('caterer.check_event') }}">Check Event</a>
                            <a class="nav-item nav-link" href="{{ url_for('caterer.venues') }}">Venue</a>
                            <a class="nav-item nav-link" href="{{ url_for('caterer.category') }}">Add Category</a>
                        {% endif %}

                        <a class="nav-item nav-link" href="{{ url_for('users.account') }}">Account</a>
                        <a class="nav-item nav-link" href="{{ url_for('users.logout') }}">Logout</a>
                    {% else %}
                        <a class="nav-item nav-link" href="{{ url_for('users.login') }}">Login</a>
                        <a class="nav-item nav-link" href="{{ url_for('users.register') }}">Register</a>
                    {% endif %}
                    </div>
                </div>
            </div>
    </nav>
</header>
<main role="main" class="container">
    <div class="row">
        <div class="col-md-8">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        </div>

    </div>
</main>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
{% block jquery %}{% endblock jquery %}
</body>
</html>