{% extends "layout.html" %}
{% block content %}
    {% for i in caterer %}
        <div class="row">
            <div class="card-body table-bordered">
                <p class="card-text" value={{ i }}>{{ caterer[i] }}</p>
                <p class="card-text" value={{ i }}>{{ caterer_mobile_number[i] }}</p>
                <p class="card-text" value={{ i }}>{{ caterer_email[i] }}</p>
                <p class="card-text" value={{ i }}>{{ caterer_address[i] }}</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a role="button" href="{{ url_for('venue.venue_accept_caterer_request', caterer_id=i) }}"
                           class="btn btn-sm btn-outline-success success">Accept</a>
                        <a role="button" href="{{ url_for('venue.venue_reject_caterer_request', caterer_id=i) }}"
                           class="btn btn-sm btn-outline-danger warning">Reject</a>
                    </div>
                    <small class="text-muted">9 mins</small>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock content %}