{% extends "layout.html" %}
{% block content %}
    <form method="POST" action="" enctype="multipart/form-data">
    <div class="form-group">
        {% for i in event_detail %}
            <div class="row">
            <div class="card-body table-bordered">

            <div>
                <p class="card-text" value={{ i.id }}>Title: {{ i.title }} </p>
                <p class="card-text" value={{ i.id }}>Venue: {{ i.venue_get_event.venue_name.username }} </p>
                <p class="card-text" value={{ i.id }}>No. of Guests: {{ i.no_of_guests }} </p>
                <p class="card-text" value={{ i.id }}>Date: {{ i.date }} </p>
                <p class="card-text" value={{ i.id }}>Decorator Charge: {{ i.decorator_charge }} </p>
                <p class="card-text" value={{ i.id }}>Caterer Charge: {{ i.caterer_charge }} </p>
                <p class="card-text" value={{ i.id }}>Venue Charge: {{ i.venue_charge }} </p>
                <p class="card-text" value={{ i.id }}>Total Charge: {{ i.Total_charge }} </p>
            </div>
                {% if i.date > i.date.today() %}
                        <div class="btn-group" style="margin-top: 10px">
                            <a role="button"
                               href="{{ url_for('book_event.update_event', event_id=i.id) }}"
                               class="btn btn-sm btn-outline-success success">Update</a>
                            <a role="button"
                               href="{{ url_for('book_event.delete_event', event_id=i.id )}}"
                               class="btn btn-sm btn-outline-danger warning">Delete</a>
                        </div>
                {% endif %}
            <div style="margin-top: 10px">
                 {% if i.is_approved_by_venue == True %}
                <button type="button" class="btn btn-primary btn-sm" disabled>Approved request</button>
                {% elif i.is_approved_by_venue == False %}
                <button type="button" class="btn btn-danger btn-sm" disabled>Rejected request</button>
                {% else %}
                <button type="button" class="btn btn-secondary btn-sm" disabled>Pending request</button>
                {% endif %}
            </div>


            </div>
            </div>

        {% endfor %}
    </div>
    </form>
{% endblock content %}