{% extends "layout.html" %}
{% block content %}
    <form method="POST" action="" enctype="multipart/form-data">

    <div class="form-group">
    {% for i in get_decorator %}
        <div class="row">
            <div class="card-body table-bordered">
              <p class="card-text" value={{ i.decorator_id }}>Decoration Type: {{ i.decorator_get_decorationType.decoration_type }} </p>
                <p class="card-text" value={{ i.decorator_id }}>Charge: {{ i.charges }} </p>

                <div class="btn-group">
                                <a role="button" href="{{ url_for('decorator.update_category',decorator_id=i.decorator_id,decorator_type_id=i.decoration_type_id) }}"
                                   class="btn btn-sm btn-outline-success success">Update</a>
                                <a role="button" href="{{ url_for('decorator.delete_category',decorator_id=i.decorator_id,decorator_type_id=i.decoration_type_id) }}"
                                   class="btn btn-sm btn-outline-danger warning">Delete</a>
                            </div>
            </div>
        </div>
    {% endfor %}
    </div>
    </form>
{% endblock content %}