{% extends "layout.html" %}
{% block content %}
    <form method="POST" action="" enctype="multipart/form-data">

        <div class="form-group">
            {% for i in get_caterer %}
                <div class="row">
                    <div class="card-body table-bordered">
                        <p class="card-text" value={{ i.caterer_id }}>Decoration
                            Type: {{ i.caterer_get_foodcategory.food_type }} </p>
                        <p class="card-text" value={{ i.caterer_id }}>Charge: {{ i.charges }} </p>

                        <div class="btn-group">
                            <a role="button"
                               href="{{ url_for('caterer.update_category',caterer_id=i.caterer_id,food_category_id=i.food_category_id) }}"
                               class="btn btn-sm btn-outline-success success">Update</a>
                            <a role="button"
                               href="{{ url_for('caterer.delete_category',caterer_id=i.caterer_id,food_category_id=i.food_category_id) }}"
                               class="btn btn-sm btn-outline-danger warning">Delete</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </form>
{% endblock content %}